# Builds

dist

# Dependencies

node_modules

# Diagnostic reports (https://nodejs.org/api/report.html)

report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv

.env

# IDEs and editors

.idea
.project
.classpath
.c9/
_.launch
_.njsproj
_.ntvs_
.settings/
_.sln
_.sublime-workspace
_.suo
_.sw?
.vscode/\*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System Files

.DS_Store
Thumbs.db

# Wrangler project

.dev.vars
.wrangler/
